{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="container alert alert-primary" role="alert">
        <h2>{{ title }}</h2>
        <form method="post">
            {% csrf_token %}
            <div>{{ form.non_field_errors }}</div>
            {% for field in form %}
                {% if field.errors %}
                    <p class="alert alert-danger">
                        {% for error in field.errors %}{{ error }}{% endfor %}
                    </p>
                {% endif %}
                <p><label for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field }}</p>
            {% endfor %}
            <p>
            <button type="submit" class="btn btn-primary">Змінити пароль</button>
            </p>
        </form>
    </div>
{% endblock %}